<div class="page-header">
<h1>お問い合せ</h1>
</div>

<div class="span5">
<table class="table table-bordered">
  <tr>
    <th>Id</th>
    <td><%= @inquiry.id %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= @inquiry.name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= mail_to @inquiry.email %></td>
  </tr>
  <tr>
    <th>Description</th>
  <td><%= @inquiry.description %></td>
  </tr>
</table>
<div class="form-actions">
<%= link_to 'back', admin_inquiries_path, :class => 'btn' %>
<%= link_to "回答済みにする", reply_admin_inquiry_path(@inquiry), :class => 'btn btn-primary'  %>
</div>

</div>
