<% @inquiry = Inquiry.new %>
<%= form_for (@inquiry) do |f| %>

  <%= f.label :name , 'Your Name'%><br>
  <%= f.text_field :name %><br>
  <%= f.label :email , 'Your Email'%><br>
  <%= f.text_field :email %><br>
  <%= f.label :name , 'Discription'%><br>
  <%= f.text_area :description, :size => '23x30' %><br>
  <%= f.submit 'Send message'%><span>*All required</span>
<% end %>
